* {
  color: #2d3c49;
  font-family: 'Lato';
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 5px solid #7d97ad; 
  padding-bottom: 2%;
}

header div {
  flex: 1;
}

header div#logo {
  max-width: 1.5em;
}

header div#info {
  text-align: right;
}

header h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 200;
}

header h2 {
  font-size: 0.75em;
  font-weight: 400;
  margin: 0;
}

#featured-work h3 {
  color: #7d97ad;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

div#projects {
  display: flex;
  flex-direction: column;
}

div#projects h3 {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}

@media screen and (min-width: 435px) {
  header div#logo {
    max-width: 2em;
  }

  header h1 {
    font-size: 1.5em;
  }

  header h2 {
    font-size: 0.95em;
  }

  #featured-work h3 {
    font-size: 1.5em;
  }

  div#projects h3 {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 575px) {
  header div#logo {
    max-width: 2.5em;
  }

  header h1 {
    font-size: 2em;
  }

  header h2 {
    font-size: 1.15em;
  }

  #featured-work h3 {
    font-size: 2em;
  }

  div#projects h3 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 715px) {
  header div#logo {
    max-width: 3em;
  }

  header h1 {
    font-size: 2.5em;
  }

  header h2 {
    font-size: 1.25em;
  }

  #featured-work h3 {
    font-size: 2.25em;
  }

  div#projects h3 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 855px) {
  header div#logo {
    max-width: 3.5em;
  }

  header h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 995px) {
  header div#logo {
    max-width: 4em;
  }

  header h1 {
    font-size: 3.5em;
  }

  #featured-work h3 {
    font-size: 2.5em;
    text-align: left;
  }

  div#projects {
    flex-direction: row;

  }

  div#projects h3 {
    font-size: 2em;
  }
}

figure {
  display: flex;
  align-items: center;
  margin: 2.5% 0 0 0;
}

img#main {
  flex: 1;
  text-align: center;
  max-width: 100%;
}

div#projects div {
  flex: 1;
  text-align: center;
}

div#projects figure {
  padding: 3%;
}

div#projects img {
  flex: 1;
  text-align: center;
  max-width: 100%;
}