* {
  color: #2d3c49;
  font-family: "Lato";
  font-weight: 400;
}

#container {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-bottom: 1%;
  border-bottom: 5px solid #7d97ad;
}

#logo {
  flex: 1;
  max-width: 1.5em;
  margin: auto;
}

#info {
  flex: 1;
  text-align: right;
}

#info h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 200;
}

#info h2 {
  font-size: 0.75em;
  font-weight: 400;
  margin: 0;
}

img {
  flex: 1;
  align-self: center;
  max-width: 100%;
}

#projects {
  display: flex;
  flex-direction: column;
}

#projects h3 {
  color: #7d97ad;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

#articles-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#projects article h3 {
  color: #2d3c49;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 435px) {
  #logo {
    max-width: 2em;
  }

  #info h1 {
    font-size: 1.5em;
  }

  #info h2 {
    font-size: 0.95em;
  }

  #projects h3 {
    font-size: 1.5em;
  }

  article h3 {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 575px) {
  #logo {
    max-width: 2.5em;
  }

  #info h1 {
    font-size: 2em;
  }

  #info h2 {
    font-size: 1.15em;
  }

  #projects h3 {
    font-size: 2em;
  }

  article h3 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 715px) {
  #logo {
    max-width: 3em;
  }

  #info h1 {
    font-size: 2.5em;
  }

  #info h2 {
    font-size: 1.25em;
  }

  #projects h3 {
    font-size: 2.25em;
  }

  article h3 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 855px) {
  #logo {
    max-width: 3.5em;
  }

  #info h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 995px) {
  #logo {
    max-width: 4em;
  }

  #info h1 {
    font-size: 3.5em;
  }

  #projects h3 {
    font-size: 2.5em;
    text-align: left;
  }

  #articles-container {
    flex-direction: row;
  }

  article {
    flex: 1;
  }

  #projects article h3 {
    font-size: 2em;
    text-align: center;
    margin: 0;
  }

}